# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\springboot开发\My Project1\blog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

